@page "/"

<Alert Show="showAlert" OnOk="@(()=>showAlert = false)">
	<h1>Alert</h1>
	<p>Today is @DateTime.Now.DayOfWeek</p>
</Alert>

<button @onclick="@(()=>showAlert = true)" class="btn btn-primary">
	Show Alert
</button>
<button @onclick="@(()=>showDialog = true)" class="btn btn-secondary">
	Show Dialog
</button>

<Dialog Show="showDialog" OnOk="DialogOkHandler" OnCancel="DialogCancelHandler">
	<Title>Quick List [@(Items.Count + 1)]</Title>
	<Body>
		Enter New Item: <input @bind="NewItem" class="form-control" autofocus />
	</Body>
</Dialog>
<ol>
	@foreach(var item in Items){
		<li>@item</li>
	}
</ol>

@code{
	private string NewItem;

	private List<string> Items = new List<string>();

	private bool showAlert = false;
	private bool showDialog = false;

	private void DialogOkHandler(MouseEventArgs e)
	{
		if(!string.IsNullOrEmpty(NewItem)){
			Items.Add(NewItem);
			NewItem = string.Empty;
		}
		showDialog = false;
	}

	private void DialogCancelHandler(MouseEventArgs e)
	{
		NewItem = string.Empty;
		showDialog = false;
	}
}

